{% extends "layout.html" %}

{% block content %}
	<div class="channel">
		<div class="label">Left Window #1</div>
		<input data-channel="0" type="range" min="0" max="255" value="0" class="lightSlider" />
	</div>

	<div class="channel">
		<div class="label">Left Window #2</div>
		<input data-channel="1" type="range" min="0" max="255" value="0" class="lightSlider" />
	</div>

	<div class="channel">
		<div class="label">Balcony #1</div>
		<input data-channel="2" type="range" min="0" max="255" value="0" class="lightSlider" />
	</div>

	<div class="channel">
		<div class="label">Balcony #2</div>
		<input data-channel="3" type="range" min="0" max="255" value="0" class="lightSlider" />
	</div>

	<div class="channel">
		<div class="label">Balcony #3</div>
		<input data-channel="4" type="range" min="0" max="255" value="0" class="lightSlider" />
	</div>

	<div class="channel">
		<div class="label">Tree</div>
		<input data-channel="5" type="range" min="0" max="255" value="0" class="lightSlider" />
	</div>

	<div class="channel">
		<div class="label">Right Window #1</div>
		<input data-channel="6" type="range" min="0" max="255" value="0" class="lightSlider" />
	</div>

	<div class="channel">
		<div class="label">Right Window #2</div>
		<input data-channel="7" type="range" min="0" max="255" value="0" class="lightSlider" />
	</div>
{% endblock %}